singleNode: true

config:
  opensearch.yml: |-
    cluster.name: homelab-opensearch-prod
    network.host: 0.0.0.0


extraEnvs:
  - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: opensearch-admin-prod
        key: password

persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteOnce
  # storageClass: ""

resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    cpu: "2"
    memory: "4Gi"

service:
  type: ClusterIP
  port: 9200

ingress:
  enabled: false

