apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging-platform
resources:
  - ../../base

patches:
  - target:
      kind: HTTPRoute
      name: http-seaweedfs-dashboard
    path: httproute-dashboard-patch.yaml
  - target:
      kind: HTTPRoute
      name: http-seaweedfs-public
    path: httproute-public-patch.yaml

helmCharts:
  - name: seaweedfs
    repo: https://seaweedfs.github.io/seaweedfs/helm
    version: "4.0.404"
    releaseName: seaweedfs
    namespace: staging-platform
    includeCRDs: true
    valuesFile: values-staging.yaml
