apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev-auth
resources:
  - ../../base

helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io
    version: "2025.10.2"
    releaseName: authentik
    namespace: dev-auth
    includeCRDs: true
    valuesFile: values-dev.yaml

patches:
  - target:
      kind: HTTPRoute
      name: http-authentik
    path: httproute-patch.yaml
