apiVersion: v1
kind: Namespace
metadata:
  name: auth
  labels:
    name: auth
---
apiVersion: v1
kind: Namespace
metadata:
  name: networking
  labels:
    name: networking
---
apiVersion: v1
kind: Namespace
metadata:
  name: observability
  labels:
    name: observability
---
apiVersion: v1
kind: Namespace
metadata:
  name: platform
  labels:
    name: platform
---
apiVersion: v1
kind: Namespace
metadata:
  name: secrets
  labels:
    name: secrets
---
apiVersion: v1
kind: Namespace
metadata:
  name: apps
  labels:
    name: apps
---
apiVersion: v1
kind: Namespace
metadata:
  name: db
  labels:
    name: db
