apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  namespace: networking
  labels:
    app: traefik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik
      containers:
        - name: traefik
          image: traefik:v3.1.4
          imagePullPolicy: IfNotPresent
          args:
            - "--api.dashboard=true"
            - "--entrypoints.web.address=:80"
            - "--entrypoints.websecure.address=:443"
            - "--providers.kubernetesgateway=true"
          ports:
            - name: web
              containerPort: 80
            - name: websecure
              containerPort: 443
            - name: dashboard
              containerPort: 9000
          readinessProbe:
            httpGet: { path: /ping, port: 9000 }
          livenessProbe:
            httpGet: { path: /ping, port: 9000 }
          resources:
            requests:
              cpu: "200m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
