apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: networking
spec:
  type: NodePort            # base stays neutral; dev overlay will set LoadBalancer
  selector:
    app: traefik
  ports:
    - name: web
      port: 80
      targetPort: web
    - name: websecure
      port: 443
      targetPort: websecure
    - name: dashboard
      port: 9000
      targetPort: dashboard
