singleNode: true

config:
  opensearch.yml: |-
    cluster.name: homelab-opensearch-dev
    network.host: 0.0.0.0

    # Disable security plugin for dev to avoid TLS/users complexity
    plugins.security.disabled: true

persistence:
  enabled: true
  size: 5Gi
  accessModes:
    - ReadWriteOnce

resources:
  requests:
    cpu: "200m"
    memory: "512Mi"
  limits:
    cpu: "1"
    memory: "1Gi"

service:
  type: ClusterIP
  port: 9200

ingress:
  enabled: false
