singleNode: true
replicas: 1

clusterName: "homelab-opensearch-dev"

nodeGroup: "master"

roles:
  - master
  - ingest
  - data
  - remote_cluster_client

config:
  opensearch.yml: |
    cluster.name: homelab-opensearch-dev
    network.host: 0.0.0.0

extraEnvs:
  - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
    value: "DevOpensearchAdmin123!"

opensearchJavaOpts: "-Xms512m -Xmx512m"

persistence:
  enabled: true
  size: 5Gi
  storageClass: standard

resources:
  requests:
    cpu: "500m"
    memory: "1Gi"
  limits:
    cpu: "1"
    memory: "2Gi"


httpPort: 9200
transportPort: 9300

service:
  type: ClusterIP

securityConfig:
  config:
    dataComplete: false
    data:
      config.yml: |-
        _meta:
          type: "config"
          config_version: 2
        config:
          dynamic:
            http:
              anonymous_auth_enabled: false
            authc:
              openid_auth_domain:
                description: "Authenticate via OpenID Connect"
                http_enabled: true
                transport_enabled: true
                order: 0
                http_authenticator:
                  type: openid
                  challenge: false
                  config:
                    subject_key: sub
                    roles_key: groups
                    openid_connect_url: "http://auth.apps.192-168-58-2.sslip.io:30080/application/o/opensearch/.well-known/openid-configuration"
                    client_id: "dNgxJIOxOrEExrV3Pxnd1eqsZJLU1aOTnzBoAux3"
                    client_secret: "mqe85y4dvgC3BuyZeAQ8egnxp3DS72zpwQzHcqp607Pt3rSMAZPNnXYWtyDia61aT6IOzCCgURsrm7F7jX2nl5k69uajXbK8DXixl85a1zflByxjimisBspFECTerqgU"
                authentication_backend:
                  type: noop
              basic_internal_auth_domain:
                description: "Authenticate via HTTP Basic"
                http_enabled: true
                transport_enabled: true
                order: 1
                http_authenticator:
                  type: basic
                  challenge: false
                authentication_backend:
                  type: internal

startupProbe:
  tcpSocket:
    port: 9200
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 30

livenessProbe:
  tcpSocket:
    port: 9200
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

antiAffinity: "soft"
