singleNode: true
replicas: 1

clusterName: "homelab-opensearch-dev"

nodeGroup: "master"

roles:
  - master
  - ingest
  - data
  - remote_cluster_client

config:
  opensearch.yml: |
    cluster.name: homelab-opensearch-dev
    network.host: 0.0.0.0
    
    # Disable security plugin for dev
    plugins.security.disabled: true

extraEnvs:
  - name: DISABLE_INSTALL_DEMO_CONFIG
    value: "true"
  - name: DISABLE_SECURITY_PLUGIN
    value: "true"

opensearchJavaOpts: "-Xms512m -Xmx512m"

persistence:
  enabled: true
  size: 5Gi
  storageClass: standard

resources:
  requests:
    cpu: "500m"
    memory: "1Gi"
  limits:
    cpu: "1"
    memory: "2Gi"


httpPort: 9200
transportPort: 9300

service:
  type: ClusterIP

startupProbe:
  tcpSocket:
    port: 9200
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 30

livenessProbe:
  tcpSocket:
    port: 9200
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

antiAffinity: "soft"
