fullnameOverride: traefik-prod

service:
  enabled: true
  type: LoadBalancer
  ports:
    web:
      port: 80
    websecure:
      port: 443

  annotations: {}

providers:
  kubernetesGateway:
    enabled: true
    experimentalChannel: true

  kubernetesIngress:
    enabled: false
  kubernetesCRD:
    enabled: false

additionalArguments:
  - "--entrypoints.web.address=:80"
  - "--entrypoints.websecure.address=:443"

ports:
  traefik:
    expose: false

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 1
    memory: 512Mi
