apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: redis-staging
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-staging
  target:
    name: redis-secret
    creationPolicy: Owner
  data:
    - secretKey: REDIS_PASSWORD
      remoteRef:
        key: kv/staging/authentik
        property: redis_password
