apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: networking
spec:
  type: NodePort
  ports:
    - { name: web,       port: 80,   targetPort: web,       nodePort: 30080 }
    - { name: websecure, port: 443,  targetPort: websecure, nodePort: 30443 }
    - { name: dashboard, port: 9000, targetPort: dashboard, nodePort: 30900 }
