fullnameOverride: traefik-dev

service:
  enabled: true
  type: NodePort

ports:
  web:
    nodePort: 30080
  websecure:
    nodePort: 30443

providers:
  kubernetesGateway:
    enabled: true

  kubernetesIngress:
    enabled: false
  kubernetesCRD:
    enabled: true

gateway:
  enabled: false

gatewayClass:
  enabled: false

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi
