apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: homelab-gw
  namespace: prod-networking
spec:
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: homelab-gw-tls
      allowedRoutes:
        namespaces:
          from: All
