apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: authentik

commonLabels:
  app.kubernetes.io/name: authentik
  app.kubernetes.io/instance: authentik-prod
  env: prod

helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io
    version: "2025.10.2"
    releaseName: authentik
    namespace: authentik
    includeCRDs: true
    valuesFile: values-prod.yaml
