admin:
  existingSecret: grafana-admin-prod
  userKey: grafana_admin
  passwordKey: grafana_admin_password

persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteOnce

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        isDefault: true
        url: "http://prometheus-server.observability.svc.cluster.local"
        editable: false

env:
  - name: GF_AUTH_GENERIC_OAUTH_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: grafana-auth-prod
        key: client_id
  - name: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: grafana-auth-prod
        key: client_secret

grafana.ini:
  server:
    root_url: "https://grafana.example.invalid"
    serve_from_sub_path: false

  auth.generic_oauth:
    enabled: true
    name: authentik
    allow_sign_up: true
    client_id: $__env{GF_AUTH_GENERIC_OAUTH_CLIENT_ID}
    client_secret: $__env{GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}
    scopes: "openid profile email groups"
    groups_attribute_path: groups
    role_attribute_path: >
      contains(groups[*], 'authentik Admins') && 'GrafanaAdmin' ||
      'Viewer'

    allow_assign_grafana_admin: true
    auth_url: "https://auth.example.invalid/application/o/authorize/"
    token_url: "https://auth.example.invalid/application/o/token/"
    api_url: "https://auth.example.invalid/application/o/userinfo/"
