fullnameOverride: traefik-prod-dev

service:
  enabled: true
  type: LoadBalancer

ports:
  web:
    port: 80
  websecure:
    port: 443
  traefik:
    expose:
      default: false

providers:
  kubernetesGateway:
    enabled: true
    experimentalChannel: true

  kubernetesIngress:
    enabled: false
  kubernetesCRD:
    enabled: false

gateway:
  enabled: false

gatewayClass:
  enabled: false

additionalArguments:
  - "--entrypoints.web.address=:80"
  - "--entrypoints.websecure.address=:443"

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 1
    memory: 512Mi
