# Prometheus values (fixed permissions for /data)

server:
  persistentVolume:
    enabled: true
    size: 5Gi
    accessModes:
      - ReadWriteOnce

  retention: "7d"

  service:
    type: ClusterIP
    port: 80

  securityContext:
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
    fsGroupChangePolicy: "OnRootMismatch"

alertmanager:
  enabled: true
  persistentVolume:
    enabled: true
    size: 2Gi
    accessModes:
      - ReadWriteOnce

pushgateway:
  enabled: false

nodeExporter:
  enabled: true

kubeStateMetrics:
  enabled: true
