global:
  extraEnvironmentVars:
    WEED_CLUSTER_SW_MASTER: "seaweedfs-master.platform:9333"
    WEED_CLUSTER_SW_FILER: "seaweedfs-filer-client.platform:8888"

# --- Master servers ---
master:
  enabled: true
  replicas: 1

  persistence:
    enabled: true
    storageClass: standard
    size: 1Gi

  extraArgs: []

# --- Volume servers ---
volume:
  enabled: true
  replicas: 1

  persistence:
    enabled: true
    storageClass: standard
    size: 1Gi

  extraArgs: []

# --- Filer (metadata + HTTP API) ---
filer:
  enabled: true
  replicas: 1

  persistence:
    enabled: true
    storageClass: standard
    size: 1Gi

  extraArgs: []

  s3:
    enabled: false

s3:
  enabled: true
  replicas: 1

  service:
    type: ClusterIP
    port: 8333

  ingress:
    enabled: false

  enableAuth: true

  createBuckets:
    - name: personal-website-ui
      anonymousRead: true
    - name: internal-artifacts
      anonymousRead: false

admin:
  enabled: true
  port: 23646
  grpcPort: 33646

metrics:
  enabled: true
