adminUser: "admin"
adminPassword: "dev-admin"

persistence:
  enabled: true
  size: 2Gi
  accessModes:
    - ReadWriteOnce

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        isDefault: true
        url: "http://prometheus-server.observability.svc.cluster.local"
        editable: true

grafana.ini:
  users:
    auto_assign_org: true
    auto_assign_org_role: Admin

  auth.proxy:
    enabled: true
    header_name: X-authentik-username
    header_property: username
    auto_sign_up: true
    sync_ttl: 0 
    headers: Email:X-authentik-email Groups:X-authentik-groups Role:X-grafana-role

