apiVersion: apps/v1
kind: Deployment
metadata:
  name: personal-website-ui
spec:
  selector:
    matchLabels:
      app: personal-website-ui
  template:
    metadata:
      labels:
        app: personal-website-ui
    spec:
      containers:
      - name: personal-website-ui
        image: masterbogdan0/personal-website-ui:latest
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 3
