apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: "v1.15.1"
    releaseName: cert-manager
    namespace: staging-cert-manager
    includeCRDs: true
    valuesFile: values-staging.yaml
