apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: http-authentik
spec:
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: authentik-server
          port: 80
