# App
APP_ENV=

# Server
PORT=
HOST=
LOG_LEVEL=
PASETO_SYMMETRIC_KEY=
ISSUER=
WS_ALLOWED_ORIGINS=
HTTP_RATE_LIMIT_PER_MINUTE=100
WS_RATE_LIMIT_PER_MINUTE=120

# DB
DATABASE_URL=
REDIS_URL=
IS_AUTO_MIGRATIONS=false

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=
GITHUB_STATE_SECRET=
GITHUB_SCOPES=
