apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: platform

resources:
  - ../../base

helmCharts:
  - name: seaweedfs
    repo: https://seaweedfs.github.io/seaweedfs/helm
    version: "4.0.404"
    releaseName: seaweedfs
    namespace: platform
    includeCRDs: true
    valuesFile: values-prod.yaml

patches:
  - target:
      kind: HTTPRoute
      name: http-seaweedfs-dashboard
    path: httproute-dashboard-patch.yaml
  - target:
      kind: HTTPRoute
      name: http-seaweedfs-public
    path: httproute-public-patch.yaml
