adminUser: "admin"
adminPassword: "staging-admin"

persistence:
  enabled: true
  size: 2Gi
  accessModes:
    - ReadWriteOnce

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

env:
  GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "MPSzs1PogNtyrZBzaQqJbe9Fb0N7vt04nTsPXIZP"
  GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "QIQ9WmUHrTB63SO1oJiUGridlyWs84bHynF9Gr5Y4YZ4xOgeubz7QTOoI8i8oa5kVwVggiorGWGcEufeEnYEDf2H1Bx2pBe4PRDIxjFu86yxDyQ2UT1Lq5f46KcQpFKK"

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        isDefault: true
        url: "http://prometheus-server.staging-observability.svc.cluster.local"
        editable: true

grafana.ini:
  server:
    root_url: "https://grafana.apps.192-168-58-2.sslip.io"
    serve_from_sub_path: false

  auth.generic_oauth:
    enabled: true
    name: authentik
    allow_sign_up: true
    client_id: $__env{GF_AUTH_GENERIC_OAUTH_CLIENT_ID}
    client_secret: $__env{GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}
    scopes: "openid profile email groups"
    groups_attribute_path: groups
    role_attribute_path: >
      contains(groups[*], 'authentik Admins') && 'GrafanaAdmin' ||
      'Viewer'

    allow_assign_grafana_admin: true
    auth_url: "https://auth.apps.192-168-58-2.sslip.io/application/o/authorize/"
    token_url: "https://auth.apps.192-168-58-2.sslip.io/application/o/token/"
    api_url: "https://auth.apps.192-168-58-2.sslip.io/application/o/userinfo/"
