admin:
  existingSecret: grafana-admin-staging
  userKey: grafana_admin
  passwordKey: grafana_admin_password

persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteOnce

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        isDefault: true
        url: "http://prometheus-server.staging-observability.svc.cluster.local"
        editable: false

envValueFrom:
  GF_AUTH_GENERIC_OAUTH_CLIENT_ID:
    secretKeyRef:
      name: grafana-auth-staging
      key: client_id
  GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
    secretKeyRef:
      name: grafana-auth-staging
      key: client_secret

grafana.ini:
  server:
    root_url: "https://grafana.apps.192-168-76-2.sslip.io"
    serve_from_sub_path: false

  auth.generic_oauth:
    enabled: true
    name: authentik
    allow_sign_up: true
    client_id: $__env{GF_AUTH_GENERIC_OAUTH_CLIENT_ID}
    client_secret: $__env{GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}
    scopes: "openid profile email groups"
    groups_attribute_path: groups
    role_attribute_path: >
      contains(groups[*], 'authentik Admins') && 'GrafanaAdmin' ||
      'Viewer'

    allow_assign_grafana_admin: true
    auth_url: "https://auth.apps.192-168-76-2.sslip.io/application/o/authorize/"
    token_url: "https://auth.apps.192-168-76-2.sslip.io/application/o/token/"
    api_url: "https://auth.apps.192-168-76-2.sslip.io/application/o/userinfo/"
