# Vault (staging, prod-like)
server:
  uid: 100
  gid: 1000
  extraInitContainers:
    - name: volume-permissions
      image: busybox:1.36
      imagePullPolicy: IfNotPresent
      command:
        - sh
        - -c
        - |
          chown -R 100:1000 /vault/data
          chmod -R ug+rwX /vault/data
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
      volumeMounts:
        - name: data
          mountPath: /vault/data
  ha:
    enabled: true
    replicas: 3
    raft:
      enabled: true
      config: |
        ui = true
        listener "tcp" {
          address = "0.0.0.0:8200"
          cluster_address = "0.0.0.0:8201"
          tls_disable = 1
        }
        storage "raft" {
          path = "/vault/data"
        }
        service_registration "kubernetes" {}

  dataStorage:
    enabled: true
    size: 10Gi

ui:
  enabled: true
