server:
  dataStorage:
    enabled: true
    size: 1Gi
  extraInitContainers:
    - name: volume-permissions
      image: busybox:1.36
      command:
        - sh
        - -ec
        - chown -R 100:1000 /vault/data && chmod -R ug+rwX /vault/data
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        runAsNonRoot: false
        allowPrivilegeEscalation: false
      volumeMounts:
        - name: data
          mountPath: /vault/data

ui:
  enabled: true
